.banner{
    z-index: 0;

    width: 98.90vw;
    height: 70vh;
}

.text{
    font-size: 10rem;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.boldtext{
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

.undertext{
    font-size: 5rem ;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
}