html, body {
    min-height: 100vh;
    margin: 0;
    font-size: 5px;
    background-color: #99d8f5de;
}
.overlay{
    display: flex;
    flex-direction: row-reverse;
}


.Bg{
    width: 15.95cm;
    position: absolute;
}


h1{
    color:#26466b;
    display:inline-block;
    font-size: 40rem;
}
h3{
    color: white;
    font-size: 15em;
}
footer{
    display: flex;
    align-items: center;
    text-align:justify; 
    min-height: 100vh;
    color: white;
}
h2{
    position: relative;
}
path {
    fill: transparent;
}

